article {
  margin: 2vw;
}

article h1 {
  font-weight: 700;
}

article p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

article div {
  text-align: center;
}