.cover {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  /* box-shadow: 0 1vw 4vw black; */
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4);
}

.column {
  height: 100vh;
  position: absolute;
  width: 35vw;
}

.column.right {
  right: -1vw;
  background-image: url("./images/prom.jpg");
  filter: blur(0px) contrast(120%);
  background-size: cover;
  background-position: center;
}

.column.left {
  left: 0;
  background-image: url("./images/IMG_1955.jpg");
  background-size: cover;
  background-position: calc(100vh * -0.06);
  filter: blur(0px);
  transform: scaleX(-1);
}

.column.middle {
  left: 32.5vw;
  background-image: url("./images/sample_code.png");
  filter: blur(1px) contrast(120%);
  background-size: cover;
  background-position: center;
}

.cover .main {
  position: absolute;
  background-color: white;
  /* height: 33vh; */
  top: 33vh;
  width: 66vw;
  left: 17vw;
  border-radius: 2.5vh;
  box-shadow: 8vh 8vh 16vh rgba(0, 0, 0, 1);
  text-align: center;
}

.cover h1 {
  display: inline-block;
  font-size: 10vh;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.cover h2 {
  display: inline-block;
  font-size: 10vh;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin: 8vh 2vh 0 0;
}

.cover .main p {
  display: block;
  font-size: 4vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0 8vh 8vh 8vh;
}

div.content {
  z-index: -4;
  width: 100vw;
}

#bio {
  padding: 10vh 7vw 10vh 7vw;
  box-shadow: none;
}

#bio h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 8vh;
  font-weight: 400;
  margin: 0;
}

#bio p {
  font-family: 'Roboto', sans-serif;
  font-size: 3vh;
  font-weight: 300;
}

#bio .text {
  display: inline-block;
  width: 66vw;
  vertical-align: top;
  margin-right: 4vw;
}

#bio img {
  width: 15vw;
  right: 0;
  vertical-align: bottom;
}

#bio hr {
  margin: 10vh 20vw 0 20vw;
}

#bio a {
  color: var(--accent1);
}

#bio a:active {
  color: var(--accent2);
}

#square-links {
  font-size: 0;
  margin: 0 7vw 0 7vw;
  height: calc(86vw / 3);
  z-index: -3;
}

.square-link {
  display: inline-block;
  width: calc(100% / 3);
  height: 100%;
  position: relative;
  color: white;
  text-shadow: 0vh 0vh 1vh black, 0vh 0vh 1vh black;
  z-index: -0.9;
}

.square-link img {
  position: absolute;
  width: 100%;
  filter: brightness(30%);
  transition-duration: 0.2s;
  z-index: -3;
}

#square-links .square-link:hover img {
  filter: brightness(60%);
}

.square-link h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  font-weight: 800;
  text-align: center;
  margin-top: 40%;
  z-index: -3;
}

.square-link p {
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: 300;
  text-align: center;
  margin: 0 10% 0 10%;
}